# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp

# CI/CD
.github/
*.yml

# Documentation
README.md

# Node
node_modules/
releaserc.json

# Build output
dist/
web/node_modules/
backend/node_modules/
backend/dist/

# OS
.DS_Store
